@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222723;
}

.mobile_navigation {
  position: relative;
  width: 660px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mobile_navigation ul {
  display: flex;
  width: 350px;
}

.mobile_navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.mobile_navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* font-weight: 600; */
  text-align: center;
}

.mobile_navigation ul li a .mobile_navigation_icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.5s;
  color: #000;
}

.mobile_navigation ul li.active a .mobile_navigation_icon {
  transform: translateY(-32px);
  color: rgba(245, 147, 5, 1);
}

.mobile_navigation ul li a .mobile_navigation_text {
  position: absolute;
  background: rgba(245, 147, 5, 1);
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}

.mobile_navigation ul li.active a .mobile_navigation_text {
  transform: translateY(-4px);
  opacity: 1;
}

.mobile_indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  background: #ffffff;
  border-radius: 50%;
  top: -50%;
  z-index: 1;
  transition: 0.5s;
}

.mobile_indicator::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: -28px;
  box-shadow: 15px 18px #fff;
  background: transparent;
  /* background: red; */
}

.mobile_indicator::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  right: -28px;
  box-shadow: -15px 18px #fff;
  background: transparent;
  /* background: red; */
}

.mobile_navigation ul li:nth-child(1).active ~ .mobile_indicator {
  transform: translateX(calc(70px * 0));
}

.mobile_navigation ul li:nth-child(2).active ~ .mobile_indicator {
  transform: translateX(calc(70px * 1));
}

.mobile_navigation ul li:nth-child(3).active ~ .mobile_indicator {
  transform: translateX(calc(70px * 2));
}

.mobile_navigation ul li:nth-child(4).active ~ .mobile_indicator {
  transform: translateX(calc(70px * 3));
}

.mobile_navigation ul li:nth-child(5).active ~ .mobile_indicator {
  transform: translateX(calc(70px * 4));
}
